*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

html{
    height: 100vh;
}
body{
    display: flex;
    justify-content: center;
}
.App{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-between;
    width: 800px;
    height: 300px;
    border: 1px solid;
    overflow: auto;
}